*{
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    min-width: 400px;
}

h1{
    background-color: blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}


#divider{
    margin-top: 5em;
}

#divider > input{
    padding: 1em;
    font-size: 1rem;
    width: 20em;
    border: 1px solid black;
}

#divider > button{
    padding: 1em;
    font-size: 1rem;
    font-weight: bolder;
    background-color: red;
    color: white;
    border: 1px solid black;
}

#unordered{
    font-size: 1.5rem;
}